<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
	<appSettings>

		<add key="DoseUnits" value="cGy;Gy;%"/>
		<add key="VolumeUnits" value="CC;%"/>
		<add key="ImportTemplate" value="local"/>
		<add key="TemplateOptions" value="local;pk;ePR"/>
		<add key="DVHResolution" value="0.01"/>
		<add key="HI_HI" value="1"/>
		<add key="HI_LO" value="99"/>
		<add key="TreatmentSites" value="Brain;Glioblastoma;Head-and-Neck;Breast;Esophagus;Pancreas-SBRT;Liver;Liver-SBRT;Spine-SBRT;Lung/Mediastinum;Lung-SBRT;Prostate;Prostate/SV;Prostate/SV+Nodes;Prostatic Fossa;GYN-Single-Taget;GYN-Multi-Target;Cervical;Anorectal;Lymphoma;Oligomet-SBRT;Sarcoma" />
		<add key="AutoStructurePrefix" value="_"/>
		<add key="OverrideAutoStructures" value="true"/>
		<add key="WriteEnabled" value="false"/>
		<add key="AddStructures" value="false"/>
		<add key="Debug" value="true"/>
		<add key="DictionaryExclusions" value=""/>
		<add key="EULAAgree" value="false"/>
		<add key="ValidForClinicalUse" value="false"/>
		<add key="PreInitialOnSelect" value="true"/>
		<add key="NormTailToleranceLimit" value="0.1"/>
		<!-- Structure Dictionary -->
		<add key="StructureDictionaryPath" value="StructureDictionary\InitialStructureDictionary.json" />
		<add key="NormTailPenalty" value="-1000"/>
		<add key="InitialNormSearchDistance" value="20"/>
		<add key="NormIndexes" value="true"/>
		<add key="PlotNegative" value="false"/>
		<add key="NormCourse" value="true"/>
	</appSettings>
</configuration>
