<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
	<appSettings>

		<add key="DoseUnits" value="cGy;Gy;%"/>
		<add key="VolumeUnits" value="CC;%"/>
		<add key="ImportTemplate" value="local"/>
		<add key="TemplateOptions" value="local;pk;ePR"/>
		<add key="DVHResolution" value="0.01"/>
		<add key="HI_HI" value="1"/>
		<add key="HI_LO" value="99"/>
		<add key="TreatmentSites" value="Head and Neck;Thorax/Abdomen;Pelvis;Extremities"/>
		<add key="AutoStructurePrefix" value="_"/>
		<add key="OverrideAutoStructures" value="true"/>
		<add key="WriteEnabled" value="true"/>
		<add key="PluginPath" value="plugins"/>
		<add key="AddStructures" value="true"/>
		<add key="Debug" value="true"/>
		<add key="DictionaryExclusions" value=""/>
		<add key="EULAAgree" value="false"/>
		<add key="ValidForClinicalUse" value="true"/>

		<!-- Structure Dictionary -->
		<add key="StructureDictionaryPath" value="StructureDictionary\InitialStructureDictionary.json" />

	</appSettings>
</configuration>
